<head>
  <!-- Importing Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>


This is a game requested by {{match.player1.username}} and you're waiting for a 2nd player.

<script>
        setTimeout(function(){
           window.location.href = '/game/' + '?csrfmiddlewaretoken=3cN6sAToPOwmM9CzxVpKkU8Yq2ZlrnNpTGB7VGixRgKyG5F6elRN7i5YgnShMwTp&dummy=dummy+input&matchpk={{match.pk}}&isPlayer1=True&button=';
        }, 0);
</script>

</body>
