<head>
  <!-- Importing Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>




Is Player 1: {{request.GET.isPlayer1}}
matchpk: {{request.GET.matchpk}}

<!-- THE USER IS PLAYER 1 -->
{% if request.GET.isPlayer1 == "True"%}

  You are player 1.
  This is a game requested by {{match.creator}} and you're waiting for a 2nd player.


  {% if match.PLAYER_1_MOVE%}
    It's your move!
    <form onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="post">
      {% csrf_token %}
      <input type="hidden" name="moved" value="some_move">
      <button type="submit" name="button">
        Click me!
      </button>
    </form>
  {% else %}
    Your opponent is thinking...
  {% endif %}

{% else %}
<!-- THE USER IS PLAYER 2 -->

  You are player 2.
  This is a game between {{match.player1}} and {{match.player2}} with primary key {{request.GET.matchpk}}.

  {% if not match.PLAYER_1_MOVE%}
    It's your move!
    <form onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="post">
      {% csrf_token %}
      <input type="hidden" name="moved" value="some_move">
      <button type="submit" name="button">
        Click me!
      </button>
    </form>
  {% else %}
    Your opponent is thinking...
  {% endif %}
{% endif %}

<script>
        setTimeout(function(){
           window.location.reload();
        }, 5000);
</script>

</body>
