This is your home page

{% if loggedIn %}

<ul>

{% for match in allMatches %}
  {% if match.WAITING_FOR_2ND_PLAYER%}
    <form action="game/" method="post">
      {% csrf_token %}
      <input type="text" name="dummy" value="dummy input"><br>
      <input type="hidden" name="matchpk" value="{{match.pk}}">
      <button type="submit" name="button">
        {{match.creator.username}} is looking for a player.
      </button>
    </form>
  {% endif %}
{% endfor %}

</ul>

<!-- END OF LOGGED-IN VIEW -->
{% else %}

<form method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" name="inputUsername" id="inputUsername">
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" name="inputPassword" id="inputPassword">
  </div>

  <button type="submit" class="btn btn-danger">Login</button>
</form>

{% endif %}
