<head>
  <!-- Importing Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid">
  <p>This is your home page</p>
</div>

{% if loggedIn %}

<!-- Request Game Button -->
<div class="container-fluid">
  <form action = "game_pending/" method="get">
    {% csrf_token %}
    <input type="hidden" name="requesting" value="True">
    <button type="submit" class="btn btn-danger" name="request_game">Request Game</button>
  </form>
</div>

<!-- List of games waiting for a player. -->
<ul>
{% for match in allMatches %}
  {% if match.player2.username == "Dummy"%}
    <form action="game/" method="get">
      {% csrf_token %}
      <input type="hidden" name="matchpk" value="{{match.pk}}">
      <input type="hidden" name="isPlayer1" value="False">
      <button type="submit" name="button">
        {{match.creator.username}} is looking for a game.
      </button>
    </form>
  {% endif %}
{% endfor %}
</ul>



<!-- Logout Button -->
<div class="container-fluid">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" name="logout">Logout</button>
  </form>
</div>

<!-- View Profile Button -->
<div class="container-fluid">
  <form action = "profile/" method="post">
    {% csrf_token %}
    <input type="hidden" name="userPK" value="{{thisUser.pk}}">
    <button type="submit" class="btn btn-danger" name="profile">View Profile</button>
  </form>
</div>

<!-- END OF LOGGED-IN VIEW -->
{% else %}

<div class="container-fluid">
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" name="inputUsername" id="inputUsername">
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" name="inputPassword" id="inputPassword">
    </div>

    <button type="submit" class="btn btn-danger">Login</button>
  </form>
</div>


{% endif %}

</body>
