<head>
  <!-- Importing Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style = "background-color: #333333; color: #eeeeee">

<!-- Nav bar only shows when user is logged in-->
{% if loggedIn %}
<!-- Nav Bar -->
      <div class="row" style="font-size:20px; background-color: #111111">
        <nav class = "navbar navbar-expand-md">
          <ul class="nav navbar-nav">
            <li>
              <!-- View Profile Button -->
              <form action = "profile/" method="post">
                {% csrf_token %}
                <input type="hidden" name="userPK" value="{{thisUser.pk}}">
                <button type="submit" class="btn btn-danger" name="profile">View Profile</button>
              </form>
            </li>
            <li class="nav-item">
              <!-- Logout Button -->
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger" name="logout">Logout</button>
                </form>
            </li>
          </ul>
        </nav>
      </div>
      <br />
{% endif %}

<!-- Welcome to CLICK.IO -->
<div class="container-fluid">
  <div>
    <h1>Welcome to CLICK.IO!</h1>
    <h4>The worlds most popular platform for your competitive luck-based clicking needs!</h4>
  </div>
  <br />

<!-- START OF LOGGED-IN VIEW -->
{% if loggedIn %}


<!-- Request Game Button -->
<div class="container-fluid">
  <form action = "game_pending/" method="get">
    {% csrf_token %}
    <input type="hidden" name="requesting" value="True">
    <button type="submit" class="btn btn-danger" name="request_game">Request Game</button>
  </form>
</div>


<p>
  Or, join a match that someone else has requested! These are the matches in need of a player:
</p>
<!-- List of games waiting for a player. -->
<ul>
{% for match in allMatches %}
  {% if match.player2.username == "Dummy"%}
  <!-- Loop through all matches and only display those that are waiting for a player. -->
    <form action="game/" method="get">
      {% csrf_token %}
      <input type="hidden" name="matchpk" value="{{match.pk}}">
      <input type="hidden" name="isPlayer1" value="False">
      <button type="submit" name="button">
        {{match.creator.username}} is looking for a game.
      </button>
    </form>
  {% endif %}
{% endfor %}
</ul>

<!-- END OF LOGGED-IN VIEW -->
{% else %}
<!-- START OF LOGGED-OUT VIEW -->

<!-- Login form -->
<div class="container-fluid">
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" name="inputUsername" id="inputUsername">
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" name="inputPassword" id="inputPassword">
    </div>

    <button type="submit" class="btn btn-danger">Login</button>
  </form>
</div>

<!-- END OF LOGGED-OUT VIEW -->
{% endif %}

</div>
</body>
