<head>
  <!-- Importing Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style = "background-color: #333333; color: #eeeeee; font-size: 15px">
<div class="container-fluid">

  <h1>Profile: {{userProfile.user.username}}</h1>

  <hr />

  <h3>Stats:</h3>

  <p>Wins: {{userProfile.numWins}} <br />
  Losses: {{userProfile.numLosses}} <br />
  Total Games: {{userProfile.numGames}} <br />
  Win/Loss Ratio: {{userProfile.winLossRatio}}</p>


  <!-- Main Page Button -->
  <div class="container-fluid">
    <form action = "../" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger" name="profile">Back to main page</button>
    </form>
  </div>

</div>
</body>
